* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1e8eb;
}

.background {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 254px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(101, 0, 163, 0.9), rgba(24, 120, 175, 0.9));
}

.first-heading {
  font-size: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 75px;
}

.first-heading--special {
  font-weight: 300;
}
